.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 0px;
    -fx-text-fill: #000;
}

.close:hover {
    -fx-background-color: #ff4d5f;
}

.minimize {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize:hover {
    -fx-background-color: #918e8e;
}

.left-form {
    -fx-background-color: #03524b;
    /* -fx-background-color: #4aa80b; */
    /* #11998E → #38EF7D */
    /* #56ab2f → #a8e063 */
}

.username {
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

.heading {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.subscribe-heading{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.subscribe-sub-heading{
    -fx-font-size: 17px;
  
}




.right-form {
    -fx-background-color: #ffffff;
}

.nav-btn {
    -fx-background-color: transparent;
    /* -fx-border-width:1px;
    -fx-border-color:#0d887e; */
    -fx-background-radius: 0px;
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
    -fx-text-fill: #fff;
    -fx-alignment: CENTER-LEFT;

}

.nav-btn:hover {
    -fx-background-color: #28bb77;
}

.option {
    -fx-background-color: linear-gradient(#0d887e, #22b159);
    -fx-background-radius: 0px;

}

.text {
    -fx-text-fill: white;
}

.logout-btn {
    -fx-cursor: hand;
    -fx-background-color: #080808;
    -fx-background-radius: 20px;
    -fx-border-width: 10px;
}

.logout-btn:hover {
    -fx-background-color: #28bb77;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .5), 6, 0, 0, 0);
}

.white-bg {
    -fx-background-color: #fff;
    -fx-background-radius: 0px;
}

.card {
    -fx-background-color: linear-gradient(to right, #425d57, #427569);
    -fx-background-radius: 5px;
}

.textfield {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 0px;
    /* -fx-border-color:black; */
    -fx-border-radius: 0px;
    -fx-border-width: 0.5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .5), 6, 0, 0, 0);
    /* -fx-border-color:rgb(255, 255, 255) rgb(255, 255,rgb(255, 255, 255) rgb(255, 255, 255) 0, 0); */
}

.textfield:hover {
    -fx-border-color: rgb(13, 149, 228);
}

.textfield:focused {
    -fx-background-color: #fff;
    -fx-border-color: rgb(13, 149, 228);
    -fx-effect: dropshadow(three-pass-box, rgba(78, 203, 241, 0.5), 6, 0, 0, 0);
}

.search {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to right, #425d57, #427569);
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-padding: 0px 0px 0px 28px;
    -fx-font-family: "Tahoma";
}

.search:focused {
    -fx-border-width: 2px;
}

.button-heading
{
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.home-button-heading
{
    -fx-font-size: 29px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

.Report-button-heading
{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

.table-view {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color:#03524b;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: #03524b;
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header,
.filter {
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}

.add-btn {
    -fx-background-color: #03524b;
    -fx-background-radius: 0px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.add-btn:hover {
    -fx-background-color: #28bb77;
}

.update-btn {
    -fx-background-color: #03524b;
    -fx-background-radius: 0px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.update-btn:hover {
    -fx-background-color: #28bb77;
}

.clear-btn {
    -fx-background-color: #03524b;
    -fx-background-radius: 0px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.clear-btn:hover {
    -fx-background-color: #28bb77;
}

.delete-btn {
    -fx-background-color: #03524b;
    -fx-background-radius: 0px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.delete-btn:hover {
    -fx-background-color: #28bb77;
}