.left-form {
    -fx-background-color: #03524b;
}

.right-form {
    -fx-background-color: white;
    /* -fx-border-color: #000; */
    /* -fx-border-width: .4px, .4px, .4px, .4px; */
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #000;
    -fx-background-radius: 0px;
}

.close:hover {
    -fx-background-color: #ff4d5f;
}

.textfield {
    -fx-background-color: transparent;
    -fx-border-color: #03524b;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;

    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textfield:focused {
    -fx-background-color:white;
    -fx-border-width: 1.4px;
}

.login-btn {
    -fx-background-color:#03524b;
    -fx-cursor: hand;
    -fx-background-radius:0px;
    -fx-text-fill: #fff;
    -fx-font-size: "Arial";

}

.login-btn:hover {
    -fx-background-color: #ff4d5f;
}
